<head>
    <title>ToDo List</title>
    <style>
        .completed {
            text-decoration: line-through;
        }
    </style>
</head>

<h1>ToDo List </h1>

<%if(locals.toDoList.length > 0){%>
    <ul>
        <% toDoList.forEach((element, index) => {%>
            <li class="<% element["completed"]?'completed' : '' %>"><%= element["text"] %>
                <input type="checkbox" id="checkbox<%= index %>" onchange="markCompleted(<%= index %>)" <% if (element["completed"]) { %> checked <% } %>>
            </li>
            <%}); %>
    </ul>
    <%}%>

<form action="/submit" method="POST">

    <label for="item">Enter Task:</label>
    <input type="text" id="item" name="item" required><br><br>

    <input type="submit" value="Submit">
</form>

<script>
    function markCompleted(index) {
        const listItem = document.querySelectorAll('li')[index];        
        listItem.classList.toggle('completed');
        //   /**/   //
        if(toDoList[index]["completed"]){
            toDoList[index]["completed"]=false;
        }else{
            toDoList[index]["completed"]=true;
        }
    }
</script>